<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hit.homework.mapper.CourseMapper">

    <resultMap id="BaseResultMap" type="com.hit.homework.domain.Course">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="serialNumber" column="serial_number" jdbcType="CHAR"/>
            <result property="classId" column="class_id" jdbcType="BIGINT"/>
            <result property="week" column="week" jdbcType="TINYINT"/>
            <result property="timePeriod" column="time_period" jdbcType="TIMESTAMP"/>
            <result property="location" column="location" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,serial_number,
        class_id,week,time_period,
        location,create_time,update_time
    </sql>
</mapper>
